.badges {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 8px;
}

.badges > li {
  margin: 0;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
  font-weight: 500;
  color: var(--foreground);
  background-color: var(--accent-secondary);
}
