.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.skillsFlex > * {
  flex-basis: calc(50% - 16px);
}

@media screen and (max-width: 600px) {
  .skillsFlex > * {
    flex-basis: calc(100% - 16px);
  }
}

.badges {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 8px;
  margin-bottom: 16px;
}

.badges > li {
  margin: 0;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
  font-weight: 500;
  color: var(--foreground);
  background-color: var(--accent-secondary);
  list-style-type: none;
}
