/* .sectionHeading {
  margin-bottom: 2.5rem;
} */

.role {
  margin-bottom: 2.5rem;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: var(--h3-margin);
}

.header small {
  color: var(--accent-primary);
}

.header h3 {
  flex-grow: 2;
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .header h3 {
    flex-basis: 600px;
    margin-bottom: 1rem;
  }
}

.date {
  text-align: right;
  color: var(--accent-primary);
}
